.header {
  padding-top: 5rem;
  font-size: 4.5rem;
  letter-spacing: 3px;
  word-spacing: 7px;
  font-family: "Rajdhani";
  /* color: red; */
}

.category {
  font-family: "Rajdhani";
  margin-bottom: 2rem;
  border-bottom: 5px solid tomato;
  padding: 0.5rem;
  font-size: 3rem;
}

.teamcontainer {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding: 2rem;
  justify-content: center;
  font-family: "Rajdhani";
}

.flexContainer h1 {
  font-size: 2rem;
  letter-spacing: 2px;
  margin-top: 0.7rem;
}

.flexContainer h2 {
  font-size: 1.5rem;
  margin-top: 0.3rem;
}
.flexContainer > * {
  flex: 1;
  padding: 1.5rem;
}

.flexContainer img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.gridContainer {
  display: grid;
  font-family: "Rajdhani";
  grid-template-columns: auto auto auto;
  width: 70%;
  font-size: 5rem;
  margin: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
}

.gridItem img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.gridItem h1 {
  font-size: 2rem;
  letter-spacing: 2px;
  margin-top: 0.7rem;
}

.gridItem h2 {
  font-size: 1.5rem;
  margin-top: 0.3rem;
}
@media screen and (max-width: 798px) {
  .flexContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .flexContainer img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .flexContainer h1 {
    font-size: 1.9rem;
    letter-spacing: 2px;
    margin-top: 0.7rem;
  }

  .flexContainer h2 {
    font-size: 1.4rem;
    margin-top: 0.3rem;
  }
}
