.stylish {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

.Navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.Nav-links {
  font-size: 1.5rem;
  list-style: none;
  justify-content: space-around;
  width: 35%;
  display: flex;
  align-items: center;
}

.Nav-links li {
  margin-left: 5 rem;
}

.Nav-links li :hover {
  transform: scale(1.2);
  transition: ease-in-out;
}

.Login {
  font-size: 1.56rem;
}
.Login :hover {
  transform: scale(1.2);
  transition: ease-in-out;
}
