@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap");

.csi-ka-logo {
  margin-bottom: 5rem;
}
.home-title-title {
  font-family: "Russo One";
  font-size: 4rem;
  border-bottom: 0.8rem solid tomato;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.home-title-text {
  font-size: 2rem;
  padding: 1rem;
  word-spacing: 0px;
  text-align-last: left;
  font-family: "cairo";
  text-align: start;

  width: 60%;
}

.home-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10vh;
}

.sigs {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  width: 100vw;
  margin-top: 3rem;
}

.temp {
  padding-left: 5.5%;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 70%;
  font-size: 5rem;
  margin: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
}

@media only screen and (max-width: 550px) {
  .temp {
    padding-left: 4px;
  }
}

.Sig-main {
  width: 100vw;
  text-align: center;
  /* background-color: #b8c6db; */
  /* background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%); */
  background-image: url("https://i.pinimg.com/originals/3c/87/43/3c87434aa8030322cd9f79b365993b12.gif");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  padding-bottom: 4vh;
}

.our-sig {
  font-size: 4rem;
  font-family: "Orbitron";
  text-indent: 1rem;
  -webkit-text-stroke: 1.5px grey;
  padding: 1rem;
  color: white;

  margin-left: 45px;
  border-bottom: 1px solid white;
  border-width: 0.7rem;
}

.golden {
  padding-top: 4rem;

  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hello {
  width: 100vw;
}

.fill {
  z-index: 1;

  width: 60vw;
  background: #000000;
  opacity: 0.85;
}

.back-image,
.fill {
  position: absolute;
  height: 53.5vw;
}

.back-image {
  width: 100vw;
}

.fill-text {
  font-size: 4.5vw;
  margin: 1rem 2rem;
  color: tomato;
  text-align: left;
  font-family: "Rajdhani";
  text-shadow: 0.2vw 0.1vw #b8c6dbda, 0 0 0.4vw whitesmoke;
  z-index: 3;
}

.fill-address {
  font-size: 2.5vw;
  color: #c55541;
  margin-top: 10%;
  text-shadow: none;
}

.fill-handle {
  margin-top: 13%;
  font-size: 3vw;
  text-align: left;
  text-shadow: none;
}

.fill-handle ul li {
  display: inline;
  text-decoration: none;
}
.fill-handle ul {
  list-style-type: none;
  margin-left: -40px;
}

.fill-handle ul a {
  color: tomato;
}

.fb {
  margin: 0 10vw;
}

.fb a:hover {
  color: #4267b2;
}
.ig a:hover {
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mail a:hover {
  color: crimson;
}

.unknownblock {
  height: 53.5vw;
  width: 100vw;
  display: hidden;
}
