@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

.sudo {
  color: white;
  font-family: "Russo One";
  font-size: 3rem;
  background-color: #393e46;
}
.syllabus {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-family: "Russo One";
  border-bottom: 1px solid;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  padding: 1rem;
}

.sigDescription {
  text-align: justify;
}

.sigHeads {
  padding: 1rem;
}

.sigHeads li {
  list-style: none;
  text-align: start;
  font-size: 2vh;
}

.headAvatar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.dos {
  flex: 5;
  margin-left: 1rem;
  margin-top: 1rem;
}

.HeadsInside {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
  justify-content: center;
}

.syllabusList {
  margin: 1rem 0rem;
  display: flex;
}

.major {
  margin: 0rem 0rem 0rem 1rem;
}
